/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */

    @mixin size($w, $h: $w) { width: $w; height: $h; }

    // VERTICALLY CENTER CONTAINERS
    // EXAMPLE:
    // .parent {
    //     position: relative;
    //     .child {
    //         @include vCenter(false, true, false);
    //     }
    // }

    @mixin vCenter($left: true, $vertical: true, $right: true) {
        position: absolute;
        @if ($vertical) {
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        } @else if ($left) {
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        } @else if ($right) {
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    // Breakpoint Mixin
    @mixin break($p, $b: 'max-width'){
        @media screen and ( $b: $p + px ){
            @content;
        }
    }
    // Use Case: $b (second) variable is optional and defaults to 'max-width'

//    @include break(1100){
//        h1{
//            background: red;
//        }
//    }
//
//    // Output
//    @media screen and (max-width: 1100px) {
//        h1 { background: red; }
//    }
//
//    // Also, if you want to specify the 2nd variable for break type (i.e., min-height)
//
//    @include break(1100, 'min-height'){
//        h1 {
//            background:red;
//        }
//    }
//
//    // Output
//    @media screen and (min-height: 1100px) {
//        h1 { background: red; }
//    }

@function inline-svg($string) {
    @return url('data:image/svg+xml,#{url-encode($string)}');
}

$color_black: #000;
$color_white: #fff;
$color_theme_primary: #e44d3a;
$color_blue: #007bff;
$color_indigo: #6610f2;
$color_purple: #6f42c1;
$color_pink: #e83e8c;
$color_red: #dc3545;
$color_orange: #fd7e14;
$color_yellow: #ffc107;
$color_green: #28a745;
$color_teal: #20c997;
$color_cyan: #17a2b8;
$color_gray: #6c757d;
$color_dark_gray: #343a40;
$color_light_gray: #efefef;
$color_primary: #007bff;
$color_secondary: #6c757d;
$color_success: #28a745;
$color_info: #17a2b8;
$color_warning: #ffc107;
$color_danger: #dc3545;
$color_light: #f8f9fa;
$color_dark: #343a40;
$color_border_gray: #e5e5e5;
$color_border_orange: #dd3e2b;
$breakpoint_sm: 480px;
$breakpoint_md: 768px;
$breakpoint_lg: 1200px;
$breakpoint_xl: 1400px;
$font_source: 'Source Sans Pro', sans-serif;
$font_open: 'Open Sans', sans-serif;