<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2016 Google Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<!-- [START webxml] -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
    <!--
      A web.xml is needed to explicitly set the order in which filters process requests. Any filters
      not included in web.xml will be loaded after filters listed below.
    -->
    <filter>
      <filter-name>DatastoreSessionFilter</filter-name>
      <filter-class>com.example.getstarted.util.DatastoreSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DatastoreSessionFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/persons</url-pattern>
        <url-pattern>/persons/user</url-pattern>
        <url-pattern>/person/create</url-pattern>
        <url-pattern>/person/delete</url-pattern>
        <url-pattern>/person/read</url-pattern>
        <url-pattern>/person/update</url-pattern>
        <url-pattern>/person/groups</url-pattern>
        <url-pattern>/groups</url-pattern>
        <url-pattern>/groups/user</url-pattern>
        <url-pattern>/group/create</url-pattern>
        <url-pattern>/group/delete</url-pattern>
        <url-pattern>/group/read</url-pattern>
        <url-pattern>/group/update</url-pattern>
        <url-pattern>/group/members</url-pattern>
        <url-pattern>/association/create</url-pattern>
        <url-pattern>/posts</url-pattern>
        <url-pattern>/posts/user</url-pattern>
        <url-pattern>/post/create</url-pattern>
        <url-pattern>/post/delete</url-pattern>
        <url-pattern>/post/read</url-pattern>
        <url-pattern>/post/update</url-pattern>
        <url-pattern>/post-tag/create</url-pattern>
        <url-pattern>/profile/user</url-pattern>
        <url-pattern>/profile/create</url-pattern>
        <url-pattern>/profile/delete</url-pattern>
        <url-pattern>/profile/update</url-pattern>
        <url-pattern>/add/socialLink</url-pattern>
        <url-pattern>/enjoyGroups</url-pattern>
        <url-pattern>/association/delete</url-pattern><!--delete group members -->
        <url-pattern>/group/quit</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LogoutFilter</filter-name>
        <filter-class>com.example.getstarted.auth.LogoutFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LogoutFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.example.getstarted.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.example.getstarted.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.ListPersonServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPerson</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/persons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPersonByUser</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.ListPersonByUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPersonByUser</servlet-name>
        <url-pattern>/persons/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.CreatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePerson</servlet-name>
        <url-pattern>/person/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.DeletePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePerson</servlet-name>
        <url-pattern>/person/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadPerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.ReadPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPerson</servlet-name>
        <url-pattern>/person/read</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.person.UpdatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePerson</servlet-name>
        <url-pattern>/person/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListGroupByPerson</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.ListGroupByPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListGroupByPerson</servlet-name>
        <url-pattern>/person/groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.ListGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListGroup</servlet-name>
        <url-pattern>/groups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListGroupByUser</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.ListGroupByUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListGroupByUser</servlet-name>
        <url-pattern>/groups/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/group/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.ReadGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadGroup</servlet-name>
        <url-pattern>/group/read</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.DeleteGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/group/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.UpdateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateGroup</servlet-name>
        <url-pattern>/group/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPersonByGroup</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.group.ListGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPersonByGroup</servlet-name>
        <url-pattern>/group/members</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateAssociation</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.CreateAssociationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAssociation</servlet-name>
        <url-pattern>/association/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPost</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.ListPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPost</servlet-name>
        <url-pattern>/posts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListPostByUser</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.ListPostByUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPostByUser</servlet-name>
        <url-pattern>/posts/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePost</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.CreatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePost</servlet-name>
        <url-pattern>/post/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadPost</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.ReadPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPost</servlet-name>
        <url-pattern>/post/read</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.DeletePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/post/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.UpdatePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/post/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatePostTag</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.post.CreatePostTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePostTag</servlet-name>
        <url-pattern>/post-tag/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadProfile</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.profile.ReadProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadProfile</servlet-name>
        <url-pattern>/profile/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateProfile</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.profile.CreateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProfile</servlet-name>
        <url-pattern>/profile/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProfile</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.profile.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProfile</servlet-name>
        <url-pattern>/profile/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.profile.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/profile/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addSocialLink</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.AddSocialLinkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addSocialLink</servlet-name>
        <url-pattern>/add/socialLink</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>enjoyGroups</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.EnjoyGroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enjoyGroups</servlet-name>
        <url-pattern>/person/enjoy</url-pattern>
        <url-pattern>/enjoyGroups</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAssociation</servlet-name><!--remove group members -->
        <servlet-class>com.example.getstarted.basicactions.group.DeleteGroupMembersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAssociation</servlet-name>
        <url-pattern>/association/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuitGroups</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.QuitGroupsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuitGroups</servlet-name>
        <url-pattern>/group/quit</url-pattern>
    </servlet-mapping>

    <!-- [START config] -->
    <context-param>
        <param-name>personshelf.storageType</param-name>
        <param-value>${personshelf.storageType}</param-value>
    </context-param>

    <context-param>
        <param-name>personshelf.bucket</param-name>
        <param-value>${personshelf.bucket}</param-value>
    </context-param>

    <context-param>
        <param-name>sql.urlRemoteGAE</param-name>
        <param-value>jdbc:google:mysql://${sql.instanceName}/${sql.dbName}?profile=${sql.userName}&amp;password=${sql.password}</param-value>
    </context-param>

    <context-param>
        <param-name>sql.urlRemote</param-name>
        <param-value>jdbc:mysql://google/${sql.dbName}?cloudSqlInstance=${sql.instanceName}&amp;socketFactory=com.google.cloud.sql.mysql.SocketFactory&amp;profile=${sql.userName}&amp;password=${sql.password}</param-value>
    </context-param>

    <context-param>
        <param-name>sql.urlLocal</param-name>
        <param-value>jdbc:mysql://localhost/${sql.dbName}?profile=${sql.userName}&amp;password=${sql.password}&amp;useSSL=false</param-value>
    </context-param>
    <!-- [END config] -->
</web-app>
<!-- [END webxml] -->
